@page
@model RecipeJungle.Pages.MyRecipesModel
@{
    Model.ActiveNavigation = "My Recipes";
    Layout = "~/Pages/Core/Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div style="width: 30%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div style="width: 100%;position: relative;display: flex;">
                    <input type="text" id="input_search" style=" width: 100%; border: 3px solid #00B4CC; border-right: none; padding: 5px;height: 36px;border-radius: 5px 0 0 5px;outline: none;color: #9DBFAF;" placeholder="Search...">
                    <button type="button" onclick="searchClicked(document.getElementById('input_search').value)" style="width: 40px; height: 36px; border: 1px solid #00B4CC;  background: #00B4CC;  text-align: center;  color: #fff;  border-radius: 0 5px 5px 0;  cursor: pointer;  font-size: 20px;">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Prepare Time</th>
                        <th scope="col">Portion</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 1;
                        @foreach (var recipe in Model.myRecipes) {
                            <tr>
                                <td>@i</td>
                                @if (recipe.Photos != null) {
                                    <td scope="row"></td>
                                }
                                <td>@recipe.Title</td>
                                <td>@recipe.PrepareTime</td>
                                <td>@recipe.Portion</td>
                                <td>
                                    <button type="button" onclick="editClicked(@recipe.Id)" class="btn btn-primary">Edit</button>
                                    <button type="button" onclick="remove(@recipe.Id)" class="btn btn-danger">Remove</button>
                                    <button type="button" onclick="window.location = '/recipeDetails?id=@recipe.Id'" class="btn btn-info">Details</button>
                                </td>
                            </tr>
                            i += 1;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
    
        
<script>
    function editClicked(id){
        window.location.href = '/updateRecipe' + '?=' + id;
    }

    function remove(id) {
        confirmBox("Delete recipe?", function () {
            httpRequest("DELETE", "/api/recipe/delete?id=" + id, null, function (response) {
                successBox(response, function () {
                    window.location = window.location
                });
            });
        });
    }
  
    function searchClicked(text) {
        window.location = '@HttpContext.Request.Path?search=' + encodeURI(text);
    }

    document.getElementById('input_search').value = '@Model.searchText';
 </script>
