@page
@model RecipeJungle.Pages.RecipePostModel
@{
    Model.ActiveNavigation = "Recipe Post";
    Layout = "~/Pages/Core/Layout.cshtml";

}
@Html.HiddenFor(Model => Model.Recipe.Id, new { @id = "InputId" })
<!-- Receipe Slider -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="receipe-slider owl-carousel">
                <img src="img/bg-img/bg5.jpg" alt="">
                @*<img src="img/bg-img/bg5.jpg" alt="">
                    <img src="img/bg-img/bg5.jpg" alt="">*@
            </div>
        </div>
    </div>
</div>
<!-- Receipe Content Area -->
<div class="receipe-content-area">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="receipe-headline my-5">
                    <span> @Model.Recipe.CreatedTime </span>
                    <h2> @Model.Recipe.Title.ToUpper()</h2> 
                    <span> @Model.Recipe.Text </span>
                    <span> by @Model.Recipe.User</span>
                    <h2></h2>
                    <div class="receipe-duration">
                        <h6>Prep & Cook: @Model.Recipe.PrepareTime Min.</h6>
                        <h6>Yields: @Model.Recipe.Portion Servings </h6>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="receipe-ratings text-right my-5">
                    <div class="ratings">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <a href="#" class="btn delicious-btn"> Share </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                @{
                    var steps = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(Model.Recipe.Steps);
                    int i = 1;
                    foreach (var step in steps)
                    {

                        <div class="single-preparation-step d-flex">
                            <h4>@i.</h4>
                            <p>@step</p>
                        </div>
                        i += 1;
                    }

                }
               <h4> VE HAZIR!</h4>
            </div>


            @{
                var ingredients = Newtonsoft.Json.JsonConvert.DeserializeObject<string[]>(Model.Recipe.Ingredients);
                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Ingredients</h4>
                        @{ foreach (var ingredient in ingredients)
                            {

                                <!-- Custom Checkbox -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1"> @ingredient </label>
                                </div>
                            }

                        }

                    </div>
                </div>
            }
        </div>



    </div>
</div>
